/* css reset */
*{
    margin: 0;
    padding: 0;
}

/*css variables */
:root{
    --navbar-height: 59px;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

/* navigation bar: logo and image*/
#logo{
    margin: 1px 1px;
}

#logo img{
    height: 70px;
    margin: 1px 1px;

}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}

/* navigation bar: list styling*/
#navbar{
    position:relative;
    top: 0px;
}

#navbar ul{
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;


}
#navbar ul li{
    /*color: white;*/
    list-style: none;
    font-size: 1.4rem;
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/*serach bar*/
.search-icon{
    padding: 2px;
    text-align: center;
    display: flex;
    width: 30px;
    border: 0;
    border-radius: 50%;
}
.search-icon input{
    flex: 1;
    border: 0;
    outline: none;
    padding: 1px 3px;
    color: #cac7ff;
}
.search-icon ::placeholder{
    color: blue;
    font-size: 20px;
}
.search-icon span {
    border: 0;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 10px;
    cursor: pointer;
}
/*home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 452px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
   
}
#home::before{
    content: "";
    background:url('/home.jpg')no-repeat center center/cover;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    padding-bottom: 1px;
}
#home h1{
    color: maroon;
    text-align: center;
    font-family:serif;
    font-size: 60px;
}
#home p{
    color: maroon;
    text-align: center;
    font-size: 30px;
    font-family:serif;
}
#home a::hover{
     color: black;
    background-color: white;
}
/* services section */
#services{
    padding-top: 20px;
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 20px;
    margin: 20px 12px;
    border-radius: 20px;
    background-color: #f2f2f2;
    margin-top: 5px;
    margin-bottom: 20px;
}
#services .box img{
    height: 120px;
    margin: auto;
    display: block;
    
}
#services .box p{
    font-family:serif;
}

/* Customer Review section */
.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
  }
  .wrapper .box{
    background: #fff;
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  }
  .wrapper .box i.quote{
    font-size: 20px;
    color: #17a2b8;
  }
  .wrapper .box .content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .box .info .name{
    font-weight: 600;
    font-size: 17px;
  }
  .box .info .job{
    font-size: 16px;
    font-weight: 500;
    color: #17a2b8;
  }
  .box .info .stars{
    margin-top: 2px;
  }
  .box .info .stars i{
    color: #17a2b8;
  }
  .box .content .image{
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #17a2b8;
    border-radius: 50%;
  }
  .content .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .box:hover .content .image img{
    border-color: #fff;
  }


/*utility class*/
.h-primary{
    font-size: 2.8rem;
    padding: 16px;
    font-family:serif;
}
.h-secondary{
    font-family:serif;
    font-size: 2.6rem;
    padding: 16px;
}
        
#home button{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}

/* footer*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    color: white;
    }
.footer-col{
   width: 30%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
}
#logo img{
    height: 35px;
    width: 35px;
    margin: 1px 1px;
}
#navbar ul li a{
    font-size: 16px;
}
.wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
}
#home {
    height:100%;
}
}
@media(max-width: 574px){
  .footer-col {
    width: 100%;
}
#home{
    height: 430px;
    padding-bottom: 66px;
}
.h-primary{
    font-size: 25px;
}
#home p{
    font-size: 18px;
}
.h-secondary{
    font-size: 25px;
}

#services{
    display: block;
}
#services .box{
    padding: 10px;
    margin: 10px 6px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.wrapper .box{
    width: 100%;
  }
#home button{
    padding: 5px 15px;
}
#home::before{
    height: 82%;
}
#home h1{
    font-size: 40px;
}
}