* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/cafe_restaurant_table_interior_design_110567_1920x1080.jpg);
}

.container {
    width: 450px;
    min-width: 450px;
    border-radius: 5px;
    background: #ffff;
    padding: 50px 40px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.container .login-text {
    color:black;
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}

.container .login-email .login-group  {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.container .login-email .login-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size:  1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition:.3s
} 

.container .login-email .login-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color:#fff;
    cursor: pointer;
    transition: 0.3s;
}

.container .login-email .login-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color:  #6c5ce7;
}




